
.adopt{
    text-align: center;
    margin-left: 30% !important;
    margin-right: 30% !important;

    background-color: rgba(153, 245, 153, 0.925);
    margin-left: 20% ;
    margin-right: 20%;
    margin-top: 20px;
    float: left;
}
