body{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/2dogs.jpg");
}
nav>a{
    text-transform: uppercase;
    color: black;
}
nav>a:hover{
    box-sizing: border-box;
    text-decoration: none;
    color:green;
}

.donate{
    margin-left: 30% !important;
    margin-right: 30% !important;
    margin-top: 10px;
    padding-left: 40px;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-top: 20px;
    background-color: white !important;
}
.donate button{
    margin-top: 20px;
    margin-left: 33% !important;
    
    padding-left: 10px ;
    padding-right: 10px;
    width: 200px;
   
}
body img{
    width: 600px;
    height: 200px;
  
   
}
.container {
    position: relative;
    text-align: center;
    color:black;
   
  
    
  }
  .centered {
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 900;

    padding-bottom: 40px;
    padding-top: 10px;

 

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(0.6, 0.6, 0.6); 
    background: rgba(0.5, 0.5, 0.5, 0.5); 
    padding: 20px;
  }

