
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    
    overflow-x: hidden;
    color: #ffffff;
}



.navi {
    float: right;
}





li {
    display: inline;
    margin-right: 20px;
}


#menu {
    padding-top: 20px;
}



#list li {
    font-size: 24px;
    font-family: system-ui, serif;
}





.contact {
    padding-top: 20px;
}





.go {
    border-radius: 20px;
    color: red;
}


.landing {
    background-image: url("../images/kiddogonpier.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
}

#push {
    padding-top: 30%;
}

.landing-text {
    margin-top: 10%;
}

.landing-text h1, h2 {
    font-family: 'Love Ya Like A Sister', cursive;
}

.landing-text h1 {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 60px;
}


a {
    color: white;
    font-size: 18px;
    font-weight: normal;
}

figure img {
    height: 260px;
    width: 260px;
}

.welcome-txt {
    margin-top: 160px;
}

.txt {
    font-family: system-ui, cursive;
    color: black;
    font-size: 23px;
}

.txt-big {
    font-size: 50px;
    font-family: 'Shadows Into Light', cursive;
}




