
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    
    overflow-x: hidden;
    color: #ffffff;
}

.go {
    border-radius: 20px;
    color: red;
}


.landing {
    background-image: url("../img/kiddogonpier.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-position: center center;
    backface-visibility: hidden;
    animation:landing 10s linear infinite 2s;
    animation-timing-function: ease-in-out;
}
@keyframes landing{ 
    0%{
        background-image: url("../img/kiddogonpier.png");
    }
    25%{
        background-image: url("../img/2dogs.jpg");
    }
    50%{
        background-image: url("../img/pets.jpg");
    }
}
.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    width: 100%;
}

#push {
    padding-top: 25%;
}

.landing-text h1, h2 {
    font-family: 'Love Ya Like A Sister', cursive;
}

.landing-text h1 {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 60px;
}


a {
    color: white;
    font-size: 18px;
    font-weight: normal;
}

figure img {
    height: 260px;
    width: 260px;
}

.welcome-txt {
    margin-top: 160px;
}

.txt {
    font-family: system-ui, cursive;
    color: black;
    font-size: 23px;
}

.txt-big {
    font-size: 50px;
    font-family: 'Shadows Into Light', cursive;
}

